<ng-container [formGroup]="group">
  <ng-container *ngFor="let control of question.controls | orderedKeyValue">
    <bd-dynamic-form-control *ngIf="control.value.discriminator === 'control'"
                             [question]="control.value"
                             [control]="group.get(control.key)"></bd-dynamic-form-control>

    <bd-dynamic-form-group *ngIf="control.value.discriminator === 'group'"
                           [question]="control.value"
                           [group]="group.get(control.key)"></bd-dynamic-form-group>

<!--    <bd-dynamic-form-array *ngIf="instanceOfArrayQuestion(control.value)"-->
<!--                           [question]="control.value"-->
<!--                           [array]="group.get(control.key)"-->
<!--                           [arrayName]="control.key"-->
<!--                           [group]="control"></bd-dynamic-form-array>-->
  </ng-container>
</ng-container>
