<ng-container [ngSwitch]="question.control.discriminator">
  <bd-input *ngSwitchCase="'textbox'"
            [formControl]="control"
            [placeholder]="question.control.placeholder"></bd-input>

  <bd-select *ngSwitchCase="'dropdown'"
             [formControl]="control"
             [compareWith]="question.control.keyToCompareWith ? compareWithKey : defaultCompareWith"
             [placeholder]="question.control.placeholder"
             [optionDisplayProp]="question.control.optionDisplayProp"
             [valueProp]="question.control.valueProp"
             [options]="question.control.options"></bd-select>

  <bd-datepicker *ngSwitchCase="'datepicker'"
                 [formControl]="control"
                 [min]="question.control.min"
                 [max]="question.control.max"></bd-datepicker>
</ng-container>
