<ng-container [formGroup]="group">
  <ng-container [formArrayName]="arrayName">
    <ng-container *ngFor="let control of question.controls; let index = index">
      <bd-dynamic-form-control *ngIf="instanceOfControlQuestion(control)"
                               [question]="control"
                               [control]="array.get(index.toString())"></bd-dynamic-form-control>

      <bd-dynamic-form-group *ngIf="instanceOfGroupQuestion(control)"
                             [question]="control"
                             [group]="array.get(index.toString())"></bd-dynamic-form-group>

      <bd-dynamic-form-array *ngIf="instanceOfArrayQuestion(control)"
                             [question]="control"
                             [array]="array.get(index.toString())"
                             [arrayName]="index.toString()"
                             [group]="array.get(index.toString())"></bd-dynamic-form-array>
    </ng-container>
  </ng-container>
</ng-container>
